body {
    font-family: Arial, sans-serif;
    background-image: url('./Images/fpt.jpg'); 
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: white;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    width: 100%;
    box-sizing: border-box;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

h1 {
    font-size: 24px;
    margin: 0;
    font-weight: bold;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 20px;
    font-size: 16px;
    font-weight: bold;
}

input, select, button {
    margin-top: 10px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 4px;
    width: 100%;
    box-sizing: border-box;
}

button {
    margin-top: 20px;
    padding: 10px 20px; /* Adjust padding to make the button smaller */
    font-size: 16px;
    background-color: #FF6636;
    color: white;
    border: none;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    width: 300px; /* Ensure the button width is auto to fit the content */
    align-self: center; /* Center the button horizontally */
}
.btn.back-btn {
    background-color: #FF6636;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    border-radius: 4px;
    cursor: pointer;
}

