<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <filter>
        <filter-name>SecurityFilter</filter-name>
        <filter-class>Filters.SecurityFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>SecurityFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>BlogListController</servlet-name>
        <servlet-class>Controllers.BlogListController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BlogDetailController</servlet-name>
        <servlet-class>Controllers.BlogDetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RequestGoogleController</servlet-name>
        <servlet-class>Controllers.Account.RequestGoogleController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GoogleLoginController</servlet-name>
        <servlet-class>Controllers.Account.GoogleLoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DashboardController</servlet-name>
        <servlet-class>Controllers.DashboardController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PracticeListController</servlet-name>
        <servlet-class>Controllers.PracticeListController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>QuizReviewController</servlet-name>
        <servlet-class>Controllers.QuizReviewController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>Controllers.Account.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SliderList</servlet-name>
        <servlet-class>Controllers.SliderListController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SliderDetails</servlet-name>
        <servlet-class>Controllers.SliderDetailsController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MyRegistrationController</servlet-name>
        <servlet-class>Controllers.MyRegistrationController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResetPasswordController</servlet-name>
        <servlet-class>Controllers.Account.ResetPasswordController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterController</servlet-name>
        <servlet-class>Controllers.Account.RegisterController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomeController</servlet-name>
        <servlet-class>Controllers.HomeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubjectListController</servlet-name>
        <servlet-class>Controllers.SubjectListController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubjectRegisterController</servlet-name>
        <servlet-class>Controllers.SubjectRegisterController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubjectDetailsController</servlet-name>
        <servlet-class>Controllers.SubjectDetailsController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePasswordController</servlet-name>
        <servlet-class>Controllers.Account.ChangePasswordController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserProfile</servlet-name>
        <servlet-class>Controllers.Account.UserProfileController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HeaderController</servlet-name>
        <servlet-class>Controllers.HeaderController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RequestLoginController</servlet-name>
        <servlet-class>Controllers.Account.RequestFacebookController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FacebookLoginController</servlet-name>
        <servlet-class>Controllers.Account.FacebookLoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>QuizHandleController</servlet-name>
        <servlet-class>Controllers.QuizHandleController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SimulationExam</servlet-name>
        <servlet-class>Controllers.SimulationExamController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistrationListController</servlet-name>
        <servlet-class>Controllers.RegistrationListController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PracticeReviewController</servlet-name>
        <servlet-class>Controllers.PracticeReviewController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewPracticeController</servlet-name>
        <servlet-class>Controllers.NewPracticeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistrationDetailsController</servlet-name>
        <servlet-class>Controllers.RegistrationDetailsController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExamDetailsController</servlet-name>
        <servlet-class>Controllers.ExamDetailsController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubjectListEditController</servlet-name>
        <servlet-class>Controllers.SubjectListEditController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>QuestionController</servlet-name>
        <servlet-class>Controllers.QuestionListController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>QuestionDetailsController</servlet-name>
        <servlet-class>Controllers.QuestionDetailsController</servlet-class>
  </servlet>
    <servlet>
        <servlet-name>LessonListController</servlet-name>
        <servlet-class>Controllers.LessonListController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>QuizListController</servlet-name>
        <servlet-class>Controllers.QuizListController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LessonDetailController</servlet-name>
        <servlet-class>Controllers.LessonDetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CourseDetailsController</servlet-name>
        <servlet-class>Controllers.CourseDetailsController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HeaderController</servlet-name>
        <url-pattern>/head</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BlogListController</servlet-name>
        <url-pattern>/bloglist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BlogDetailController</servlet-name>
        <url-pattern>/blogdetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RequestGoogleController</servlet-name>
        <url-pattern>/requestlogin-google</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GoogleLoginController</servlet-name>
        <url-pattern>/login-google</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RequestLoginController</servlet-name>
        <url-pattern>/requestFacebook</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FacebookLoginController</servlet-name>
        <url-pattern>/login-facebook</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DashboardController</servlet-name>
        <url-pattern>/dashboard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PracticeListController</servlet-name>
        <url-pattern>/practicelist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QuizReviewController</servlet-name>
        <url-pattern>/quiz-review</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResetPasswordController</servlet-name>
        <url-pattern>/reset-password</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterController</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomeController</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubjectListController</servlet-name>
        <url-pattern>/subjectlist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubjectRegisterController</servlet-name>
        <url-pattern>/subject-register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MyRegistrationController</servlet-name>
        <url-pattern>/my-registration</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePasswordController</servlet-name>
        <url-pattern>/changepassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserProfile</servlet-name>
        <url-pattern>/userprofile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SliderList</servlet-name>
        <url-pattern>/slider-list</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SliderDetails</servlet-name>
        <url-pattern>/slider-details</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubjectDetailsController</servlet-name>
        <url-pattern>/subject-details</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QuizHandleController</servlet-name>
        <url-pattern>/quiz-handle</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SimulationExam</servlet-name>
        <url-pattern>/simulation-exam</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistrationListController</servlet-name>
        <url-pattern>/registration-list</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PracticeReviewController</servlet-name>
        <url-pattern>/practicereview</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewPracticeController</servlet-name>
        <url-pattern>/newpractice</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistrationDetailsController</servlet-name>
        <url-pattern>/registration-details</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExamDetailsController</servlet-name>
        <url-pattern>/exam-details</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubjectListEditController</servlet-name>
        <url-pattern>/subjectlistedit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QuestionController</servlet-name>
        <url-pattern>/question</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QuestionDetailsController</servlet-name>
        <url-pattern>/question-details</url-pattern>
      </servlet-mapping>
     <servlet-mapping>
      <servlet-name>LessonListController</servlet-name>
        <url-pattern>/lessons</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QuizListController</servlet-name>
        <url-pattern>/quizlist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LessonDetailController</servlet-name>
        <url-pattern>/lesson-detail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CourseDetailsController</servlet-name>
        <url-pattern>/course-details</url-pattern>
    </servlet-mapping>
    <error-page>
        <error-code>400</error-code>
        <location>/Views/Common/Error.jsp</location>
    </error-page>
    <error-page>
        <error-code>403</error-code>
        <location>/Views/Common/Error.jsp</location>
    </error-page>
    <error-page>
        <error-code>404</error-code>
        <location>/Views/Common/Error.jsp</location>
    </error-page>
    <!-- <error-page>
        <error-code>500</error-code>
        <location>/Views/Error/Error.jsp</location>
    </error-page> -->
</web-app>
